﻿@page "/GetRoom"
@using Neusta.Sitzplan.Blazor.SitzplanApiService

<h1>Raumdaten</h1>

<p>Hier sind die Räume und die Nutzer/innen des Raumes zu finden.</p>
<input @bind="RoomNumber" @bind:event="oninput" />
<button class="btn btn-primary" @onclick="FindRoom">Finde Raum</button>

@if (room != null && !loadFailed)
{
    <table class="table">
        <thead>
            <tr>
                <th>Raumnummer</th>
                <th>Nutzer/innen des Raumes </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@room.Room</td>
                @foreach (PersonDto person in room.People)
                {
                <tr>
                    <td>@person.Title @person.First_name @person.Name_addition @person.Last_name @person.Ldapuser</td>
                </tr>
            }
                </tr>

            </tbody>
        </table>
}
else if (loadFailed)
{
    <p>@errorMessage</p>
}
else
{
    <p>Suche einen Raum indem du die Raumnummer eintippst.</p>
}
