﻿@page "/GetRooms"
@using Neusta.Sitzplan.Blazor.SitzplanApiService

<h1>Raumdaten</h1>

<p>Hier sind die Räume und die Nutzer/innen des Raumes zu finden.</p>

@if (rooms == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Raumnummer</th>
            <th>Nutzer/innen des Raumes </th>
        </tr>
        </thead>
        <tbody>
        @foreach (RoomDto room in rooms)
        {
            <tr>
                <td>@room.Room</td>
                @foreach (PersonDto person in room.People)
                {
                    <tr>
                        <td>@person.Title @person.First_name @person.Name_addition @person.Last_name @person.Ldapuser</td>
                    </tr>
                }
            </tr>
        }
        </tbody>
    </table>
}