﻿@page "/Import"
@using BlazorInputFile

<h1>Importiere Sitzplan Daten</h1>

<InputFile OnChange="HandleSelection" />

@if (file != null)
{
    <p>Du hast die folgende File @file.Name ausgewählt</p>
}

<button class="btn btn-primary" @onclick="ImportSitzplan">Importiere Sitzplan</button>
<p>@message</p>
